canvas {
	background-color: "grey";
	height: 350px;
	width: 900px;
	margin: 0 auto;
	bottom: 0;
	position: absolute;
	padding-bottom: 10px;

}
#align{
	/*text-align: center;*/
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0 auto;
}
