canvas {
	background-color: grey;
	height: 400px;
	width: 1000px;
	margin: 0 auto;
	bottom: 0;
	position: absolute;
	position: all;
}
#align{
	/*text-align: center;*/
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin: 0 auto;
}
